{% if not user %}
<div>
  <p>You need to log in before you can plan trips.</p>
</div>
{% else %}{% if not trips %}
<div>
  <form action="#" onsubmit="timeline_create_new()">
    Trip name: <input name="name" type="text"><br>
    Choose origin <a href="javascript:timeline_set_origin()">#</a><br>
    Choose destination <a href="javascript:timeline_set_origin()">#</a><br>
    Add waypoint <a href="javascript:timeline_set_origin()">#</a><br>
    <input type="submit" value="submit">
  </form>
</div>
{% else %}{%if not trip_id %}
<div>
  <ul>
    {% for trip in trips %}
    <li><a href="#timeline{{trip.key}}">{{trip.name}}</a></li>
    {% endfor %}
  </ul>
</div>
{% else %}
<div class="timeLine"><!-- sn: this is relative-->
  <!-- time line container -->
  <div>
    <hr>
    <h3>{{trip.name}}</h3>
  </div>
  <div class="timeLineLabels"><!-- sn: this is absolute -->
    {% for location in locations %}
    <div><!-- sn: these are absolute-->
      <i></i>
      <strong>{{location.name}}</strong>
      <small>{{location.date}} - {{location.duration}} days</small>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
