{% if not user %}
<div>
  <p>You need to log in before you can plan trips.</p>
</div>
{% elif new_trip_form %}
<div id="new-trip">
  <form>
    Trip name: <input id="trip-name" name="name"
                      type="text" value="unnamed trip"><br>
    <a id="trip-dest-add"
       href="javascript:tripmanager.addPlace()">Add place to trip</a><br>
    <input type="submit" value="submit">
    <input type="button" name="cancel" value="cancel">
  </form>
</div>
{% elif new_place_form %}
<i class="close-icon"></i>
<form>
  <label>Name of Place</label>
  <input name="place-name" class="place-name" type="text"
         placeholder="destination name"><br>
  <label>Date of arrival:</label>
  <input name="place-date" class="place-date" type="date"
         value="{{today}}"><br>
  <label>Duration of stay:</label>
  <input name="place-days" class="place-num" type="number"
         placeholder="1"> days<br>
  <label>Place description:</label><br>
  <textarea placeholder="describe your destination in any way you want."
            name="place-desc"></textarea>
  <a href="#" class="remove-place">Remove location</a>
</form>
{% elif travel_form %}
<form>
  <label>Travel mode</label>
  <select name="travel-mode" class="travel-select">
    <option value="plane">Airplane</option>
    <option value="boat">Boat / Ship</option>
    <option value="car">Car</option>
    <option value="train">Train</option>
    <option value="other">Other</option>
  </select><br>
  <label>Travel time:</label>
  <input name="travel-hours" class="travel-num" type="number"
         placeholder="1"> hours<br>
</form>
{% endif %}
