#infocard {
    bottom: 150px;
    width: 200px;
    height: 350px;
    position: absolute;
    background-color: rgba(255, 255, 255, .85);
    padding: 20px 0 20px 20px;
    font-size: 14px;
}

#infocard p {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 330px;
}

.infobox {
    width: 280px;
    position: absolute;
    background-color: rgba(255, 255, 255, .85);
    padding: 16px;
    font-size: 14px;
}

.infobox h4 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.infobox label {
    font-weight: bold;
}

.infobox input {
    font-size: 18px;
    font-weight: bold;
    width: 270px;
    border: 1px solid #999;
}

.infobox textarea {
    width: 270px;
    height: 200px;
}
