#infocard {
    bottom: 150px;
    width: 250px;
    height: 350px;
    position: absolute;
    background-color: rgba(255, 255, 255, .85);
    padding: 20px;
    font-size: 14px;
}

.infobox {
    width: 250px;
    position: absolute;
    background-color: rgba(255, 255, 255, .85);
    padding: 16px;
    font-size: 14px;
}

.infobox h4 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
