/** login widget */
#login {
  background: white;
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  width: 330px;
  height: 49px;
}

#login a#login-register {
    width: 150px;
    background-position:79px -67px;
}

#login a {
  -moz-transition:background-color .5s;
  -o-transition:background-color .5s;
  -webkit-transition:background-color .5s;
  background:url(/static/img/icons.png) 79px -7px no-repeat;
  background-color:#ddd;
  color:#000;
  display:inline-block;
  font-size:16px;
  padding:15px;
  text-transform:uppercase;
  transition:background-color .5s;
  width:120px;
}

#login a:hover {
    background-color:#ffd420;
}

#welcome {
    vertical-align: top;
    background-color: white;
    width: 180px;
    display: inline-block;
    font-size: 12px;
    font-style: italic;
    height: 49px;
}

#user-icon {
  width: 45px;
  height: 45px;
  display: inline-block;
  background: url(/static/img/icons.png) -165px -139px;
  padding-right: 5px;
  margin-top: 2px;
  margin-left: 5px;
  padding-top: 2px;
}

#welcome-text {
    display: inline-block;
    width: 90px;
    vertical-align: top;
    padding-top: 10px;
}
