<!DOCTYPE html>
<html>
  <head>
    <title>angya - travel manager</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/angya.css') }}">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/widgets.css') }}">
    <script
       type="text/javascript"
       src="https://maps.googleapis.com/maps/api/js?v=3.16&libraries=places,geometry&sensor=true">
    </script>
    <script 
       type="text/javascript" src="http://www.panoramio.com/wapi/wapi.js?v=1">
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!--script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.0.js') }}"></script-->
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/map.js') }}">
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/widgets.js') }}">
    </script>
  </head>
  <body>
    <!-- map -->
    <div id="map-canvas"></div>
    <!-- end map -->
  </body>
</html>
